.container{
    width: 70vw;
    height: 90vh;
    background-color: #0000002f;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 5px solid #ffffff54;
  
}

h1{
    font-size: 4rem;
    color: #fff;
}

.input{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    width: 80%;
    color: #fff;
}

button{
    width: 20%;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 20px;
    background-color: #ddd;
    cursor: pointer;
    transition: all .3s;
}

input::placeholder{
    color: #bbb;
}

button:hover{
    background-color: #fff;
}

.todoSection{
    width:70%;
    margin-top: 3rem;
    overflow: scroll;
    overflow-x: hidden;
}

.unorderedList{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.todoItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    transition: all 0.3s;

}

.todoItem:hover{
    background-color:#ffffffb5 ;
}

.todoTask{
    width: 90%;
}

.todoControl{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem;
}
.check{
    color: green;
}

.dlt{
    color: red;
}